body {
  background: #e5e1f4;
  color: #212529;
  font-family: 'PT Sans', Arial, sans-serif;
}

.container {
  max-width: 1000px;
}

.subtitle {
  font-size: 1.5rem;
  color: #515151;
}

.footer {
  /* Sticky footer using flexbox layout */
  flex-shrink: 0;
  background-color: #7C739E !important;
  color: #fff !important;
}

main {
  flex: 1 0 auto;
}

.navbar-custom {
  background-color: #8E0188 !important;
}

.navbar-custom .navbar-nav .nav-link {
  color: #fff !important;
  font-weight: normal;
}

.navbar-custom .navbar-nav .nav-link.active,
.navbar-custom .navbar-nav .nav-link.show {
  color: #fff !important;
  font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .navbar-nav .nav-link:focus {
  color: #f8d7ff !important;
}

.navbar-custom .navbar-toggler {
  border-color: #fff;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .dropdown-menu {
  background-color: #8E0188;
}

.navbar-custom .dropdown-item {
  color: #fff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  background-color: #a03ca0;
  color: #fff;
}

.navbar-border {
  height: 5px;
  background-color: #85027f;
  width: 100%;
}

a {
  word-break: break-all;
}

@media (max-width: 1000px) {
  .container {
    max-width: 100vw;
  }
}
